* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.product-card {
    background: #fff;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-align: center;
    box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.35),
    0 2px 8px rgba(0, 0, 0, 0.2),
    inset 0 1px 0 rgba(255, 255, 255, 0.25);

    &.featured {
      margin-bottom: 2rem;
    }

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 0 60px rgba(125, 233, 255, 0.6);
      outline: 6px solid rgba(125, 233, 255, 0.7);
    }

    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }

    .product-info {
      padding: 2rem;

      h3 {
        margin: 0 0 0.5rem;
        font-size: 1.25rem;
        font-weight: 600;
      }

      p {
        font-size: 0.95rem;
        color: #666;
        line-height: 1.4;
      }

    }
  }

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
  height: 100%;
}

.hero {
  height: 500px;
  background: linear-gradient(135deg, #4BDAFE 0%, #C68FE8 70%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;

  &.extended {
    background: linear-gradient(335deg, #978EF5 7%, #57C1C7 62%, #F7A1BF 100%);
    height: 900px;
    align-items: flex-start;
    padding-top: 4rem;
  }

&.flow {
  background: radial-gradient(circle, hsla(260, 100%, 90%, 1) 0%, hsla(15, 26%, 88%, 1) 19%, hsla(200, 100%, 85%, 1) 35%, hsla(193, 59%, 66%, 1) 63%, hsla(323, 100%, 92%, 1) 84%, hsla(56, 83%, 82%, 1) 100%);
  background-size: 800% 800%;
  animation: gradientFlow 100s ease infinite;
}

&.contact {
    background: linear-gradient(341deg, #ACA5FA 0%, #2BBCD9 48%, #FF54C0 100%);
    height: 900px;
    align-items: flex-start;
    padding-top: 4rem;
}



  .hero-content {
    h1 {
      font-size: 3rem;
      margin-bottom: 1rem;
      font-weight: bold;
    }
    
    p {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
    
    .cta-button {
      padding: 1rem 2rem;
      font-size: 1.2rem;
      background: white;
      color: #667eea;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-weight: bold;
      transition: transform 0.3s;
      
      &:hover {
        transform: scale(1.05);
      }
    }

    .cta-button-container {
        display: flex;
        gap: 10px;
        justify-content: center;
    }
  }

@keyframes gradientFlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
  
  
}