<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      <a routerLink="/">{{ brandName }}</a>
      <nav class ="navbar-motto">{{ motto }}</nav>
    </div>
    
    <ul class="navbar-links">
      @for (link of navLinks; track link.path) {
        <li>
          <a [routerLink]="link.path">{{ link.label }}</a>
        </li>
      }
    </ul>
    
    <div class="navbar-actions">
      <button class="icon-button">
        <span>🔍</span>
      </button>
      <button class="icon-button">
        <span>👨‍💼</span>
      </button>
      <button class="icon-button cart">
        <span>🛒</span>
        <span class="cart-count">0</span>
      </button>
    </div>
    
    <button class="mobile-menu-button" (click)="toggleMenu()">
      <span>☰</span>
    </button>
  </div>
  
  <div class="mobile-menu" [class.open]="menuOpen">
    <ul>
      @for (link of navLinks; track link.path) {
        <li>
          <a [routerLink]="link.path" (click)="toggleMenu()">{{ link.label }}</a>
        </li>
      }
    </ul>
  </div>
</nav>