.home-container {
  width: 100%;
  padding-bottom: 1rem;
}

.featured {
  max-width: 1400px;
  margin: 4rem auto;
  padding: 0 2rem;

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  .featured-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    gap: 1.5rem;
    justify-content: center;
  }
}
