.home-container {
  width: 100%;
  padding-bottom: 1rem;
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.spinner {
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 4px solid transparent;
  border-top-color: #534ab7;
  border-right-color: rgba(#534ab7, 0.3);
  animation: spin 0.9s linear infinite;
}

.spinner-container {
  display: flex;
  margin-top: 7rem;
  align-items: center;
  justify-content: center;
}

.featured {
  max-width: 1400px;
  margin: 4rem auto;
  padding: 0 2rem;
  
  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }
.featured-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    gap: 1.5rem;
    justify-content: center;
  }

}