<div class="home-container">
  <section class="hero contact">
    <div class="hero-content">
      <h1>{{ heroTitle }}</h1>
      <p>{{ heroSubtitle }}</p>

      <div class = "info-holder">
        <div class = "info-title">GMAIL</div>
        <div class="info-center-emoji">📧</div>
        <div class ="info-input">JuddLasater.dev@gmail.com</div>
      </div>

      <div class = "info-holder">
        <div class = "info-title">PHONE</div>
        <div class="info-center-emoji">📞</div>
        <div class ="info-input">806-777-5004</div>
      </div>

    </div>
  </section>