<div class="home-container">
  <section class="hero flow">
    <div class="hero-content">
      <h1>{{ heroTitle }}</h1>
      <p>{{ heroSubtitle }}</p>
      <div class="cta-button-container">
        @for (tab of allProductTabs; track $index) {
          @if (
            tab === currentProductCategory ||
            (tab === 'All' && currentProductCategory === 'All Products')
          ) {
            <button
              class="cta-button"
              (click)="applyFilter(tab, `filter`)"
              style="background: #eed4ff; box-shadow: 0 0 7px gold"
            >
              {{ tab }}
            </button>
          } @else {
            <button class="cta-button" (click)="applyFilter(tab, `filter`)">{{ tab }}</button>
          }
        }
      </div>
      <input
        type="text"
        (keyup.enter)="applyFilter($event.target.value, 'search')"
        maxLength="64"
        id="myInput"
        class="textbox"
        placeholder="Search..."
      />

      <div class="sort-by-container">
        @if (this.currentProductSort === 'price_asc') {
          <button
            class="sort-by-button"
            style="background: #eed4ff; box-shadow: 0 0 7px gold"
            (click)="applyFilter(`price_asc`, `sort`)"
          >
            Price ⬆️
          </button>
        } @else {
          <button class="sort-by-button" (click)="applyFilter(`price_asc`, `sort`)">
            Price ⬆️
          </button>
        }

        @if (this.currentProductSort === 'price_desc') {
          <button
            class="sort-by-button"
            style="background: #eed4ff; box-shadow: 0 0 7px gold"
            (click)="applyFilter(`price_desc`, `sort`)"
          >
            Price ⬇️
          </button>
        } @else {
          <button class="sort-by-button" (click)="applyFilter(`price_desc`, `sort`)">
            Price ⬇️
          </button>
        }

        @if (this.currentProductSort === 'name') {
          <button
            class="sort-by-button"
            style="background: #eed4ff; box-shadow: 0 0 7px gold"
            (click)="applyFilter(`name`, `sort`)"
          >
            Name
          </button>
        } @else {
          <button class="sort-by-button" (click)="applyFilter(`name`, `sort`)">Name</button>
        }

        @if (this.currentProductSort === 'newest') {
          <button
            class="sort-by-button"
            style="background: #eed4ff; box-shadow: 0 0 7px gold"
            (click)="applyFilter(`newest`, `sort`)"
          >
            Newest
          </button>
        } @else {
          <button class="sort-by-button" (click)="applyFilter(`newest`, `sort`)">Newest</button>
        }
      </div>
    </div>
  </section>

  @if (!isLoading) {
    <section class="featured">
      <h2>{{ currentProductDisplay }}</h2>
      <div class="featured-grid">
        @for (product of featuredProducts; track $index) {
          <div class="product-card" [routerLink]="['/product/', product.id]">
            <img [src]="product.imageUrl" [alt]="product.name" />

            <div class="product-info">
              <h3>{{ product.name }}</h3>
              <p>{{ product.description }}</p>
            </div>
          </div>
        }
      </div>
      <div class="load-more-products-page">
        @if (containsMoreFeatured === true) {
          <button class="load-more-products" (click)="loadMoreProducts()">View More</button>
        } @else {
          <div class="out-of-products">That's all for here.</div>
        }
      </div>
    </section>
  } @else {
    <div class="spinner-container">
      <div class="spinner"></div>
    </div>
  }
</div>
