.endpoint {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  width: 40rem;
  height: 8rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  align-content: center;
  justify-content: center;
}

.checkout {
  border-radius: 14px;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  width: 20rem;
  height: 8rem;
  margin-top: 1rem;
  margin-left: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  .button {
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    width: 13rem;
    height: 4rem;
    font-size: 1.3rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
}

.price-container {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  width: auto;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: left;
  justify-content: left;
  text-align: left;
  &.clear {
    background: rgba(0, 0, 0, 0.3);
  }
}

.price-text {
  color: white;
  margin-left: 0.4rem;
  font-size: 1.4rem;
  &.value {
    font-weight: normal;
    color: white;
    font-size: 1.2rem;
    margin-left: 0.4rem;
  }
  &.tax {
    color: gold;
  }
  &.bold {
    font-weight: bolder;
  }
}

.item-container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  width: 40rem;
  height: auto;
  padding: 2rem 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: top;
  border-radius: 12px;
}

.item-brick {
  width: 38rem;
  height: 8rem;
  background: rgba(0, 0, 0, 0.384);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  border-radius: 12px;
  img {
    border-radius: 12px;
    width: 8rem;
    height: 8rem;
    box-shadow: 0 0px 5px aqua;
    object-fit: cover;
  }
  &.no-items {
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    width: 30rem;
    height: 7rem;
    background: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border: none;
    box-shadow: none;
  }
}

.text-container {
  width: 15rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 0.2rem;
  gap: 0.1rem;
}

.text {
  width: 14rem;
  height: 3rem;
  color: white;
  font-size: 1.2rem;
  display: flex;
  align-items: left;
  justify-content: left;
  align-content: left;
  padding: 0 0.5rem;
  font-weight: bolder;
  margin-bottom: 5rem;

  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: left;
  }

  &.description {
    height: 5rem;
    font-size: 0.85rem;
    align-items: flex-start;
    padding-top: 0.3rem;
    overflow: hidden;
    font-weight: normal;
    position: absolute;
    margin-top: 6rem;
    .truncate {
      text-align: left;
      white-space: normal;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
    }
    &.price {
      color: gold;
      font-weight: bold;
      margin-top: 13rem;
    }
  }
}

.right-container {
  border-radius: 12px;
  width: 90%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 10px;
  &.extended {
    height: 3rem;
  }
  &.backlit {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  }
}

.tag {
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  width: auto + 2rem;
  max-width: 5rem;
  padding: 0 1rem;
  height: 1.6rem;
  font-size: 0.8rem;
  align-items: center;
  align-content: center;
  text-align: center;
  font-weight: bolder;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cancel {
  width: 2.3rem;
  height: 2.3rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  border-radius: 30px;
  background: red;
  font-size: 1.5rem;
}

.incrementer {
  width: 8rem;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  align-content: center;
  gap: 1rem;

  .button {
    color: black;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    font-size: 1.6rem;
  }
  .quantity {
    display: flex;
    color: white;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 2.5rem;
    font-size: 2rem;
  }
}
